<% provide(:title, "Login") %>

<!--
  The signin page.
  
  Author: Hansen Cheng
          Branden Ogata
-->

<div class="row">
  <div class="span6 offset3">
    <%= form_for(:session, url: sessions_path) do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      
      <%= f.label :password %>
      <%= f.password_field :password %>
      
      <input name="authenticity_token" 
             type="hidden" 
             value="<%= form_authenticity_token %>"/>
      
      <%= f.submit "Sign in", class: "btn btn-large btn-primary" %>
    <% end %>
    
    <p class="create_link">
      New user?
      <%= link_to "Create new account", signup_path %>
    </p>
  </div>
</div>