<% provide(:title, "Edit Account") %>

<!--
  The Settings page where users can edit their account information.
  
  Author: Hansen Cheng
          Branden Ogata
-->

<div class="row">
  <div>
    <%= form_for(@user) do |f| %>
      <%= render 'user_fields', f: f %><br/>
      
      <%= label_tag 'frequency', 'Frequency Value' %>
      <!-- Text field for the user to enter a value for the frequency to send out the email -->
      <%= f.text_field :frequency_value , :placeholder => "Please enter a value" %>
      
      <%= label_tag 'time', 'Time Frame' %>
      <!-- Drop down menu for user to select the time to send out email. E.g. hr, min etc -->
      <%= f.select(:frequency, options_for_select(["day", "hr", "min"], @user.frequency),
      														:prompt => 'Select a time frame') %>
      
      <%= f.submit "Save Changes", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
  <%= link_to "Delete your account", @user, method: :delete,
              data: {confirm: "Are you sure you want to permanently delete your account?"} %>  
</div>