<% provide(:title, @user.name) %>

<!-- Get the departments and courses for JavaScript to use later -->
<% courses = get_test_courses() %>
<%= javascript_tag do %>
  setCourseData(<%= raw ['ICS', 'MATH', 'PSY'].to_json%>, <%= raw courses.to_json %>);
<% end %>

<div class="row">
  <h1><%= @user.name %></h1>
  
  <%= form_tag trackings_path do %>
    <input name="authenticity_token" 
           type="hidden" 
           value="<%= form_authenticity_token %>"/>    
    <h2>Tracking Courses:</h2>
    <table border="1">
      <tr>
        <th>CRN</th>
        <th>Course</th>
        <th>Section</th>
        <th>Title</th>
        <th>Credits</th>
        <th>Instructor</th>
        <th>Seats Available</th>
        <th>Days</th>
        <th>Time</th>
        <th>Room</th>
        <th>Dates</th>
      </tr>
      <% @trackings.each do |t| %>
        <tr>
          <% course = Course.find(t.course_id) %>
          
          <td>
            <%= course.crn %>
          </td>
          <td>
            <%= course.name %>
          </td>
          <td>
            <%= "%03d" % course.section %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: course.title %>
          </td>
          <td>
            <%= course.credits %>
          </td>
          <td>
            <%= course.instructor %>
          </td>
          <td>
            <%= course.seats %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: course.days %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: course.time %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: course.room %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: course.dates %>
          </td>
          <td>
            <%= link_to 'Remove', t, method: 'delete' %>
          </td>
        </tr>
      <% end %>
    </table>
    
    <div id="add-new-courses">
      <h3>Add Course:</h3>
        Department: <%= select_tag 'department', nil, onchange: 'updateCourses()' %><br />
        Course: <%= select_tag 'course' %><br />
        <%= submit_tag 'Add' %>
    </div>
  <% end %>
</div>