<div class="row">
  <table border="1">
    <tr>
      <th>CRN</th>
      <th>Course</th>
      <th>Section</th>
      <th>Title</th>
      <th>Credits</th>
      <th>Instructor</th>
      <th>Seats Available</th>
      <th>Days</th>
      <th>Time</th>
      <th>Room</th>
      <th>Dates</th>
    </tr>
    <% @matches.each do |m| %>
      <tr>
        <td>
          <%= m[search_indices[:crn]] %>    
        </td>
        <td>
          <%= m[search_indices[:name]] %>
        </td>
        <td>
          <%= m[search_indices[:section]] %> 
        </td>
        <td>
          <%= render 'multiline_course_cell', field: m[search_indices[:title]] %>
        </td>
        <td>
          <%= m[search_indices[:credits]] %>  
        </td>
        <td>
          <%= m[search_indices[:instructor]] %>
        </td>
        <td>
          <%= m[search_indices[:seats]] %>
        </td>
        <td>
          <%= render 'multiline_course_cell', field: m[search_indices[:days]] %>
        </td>
        <td>
          <%= render 'multiline_course_cell', field: m[search_indices[:time]] %>
        </td>
        <td>
          <%= render 'multiline_course_cell', field: m[search_indices[:room]] %>
        </td>
        <td>
          <%= render 'multiline_course_cell', field: m[search_indices[:dates]] %>
        </td>
      </tr>
    <% end %>
</div>