<% provide(:title, "Search Results") %>

<div class="row">
  <table border="1">
    <tr>
      <th>CRN</th>
      <th>Course</th>
      <th>Section</th>
      <th>Title</th>
      <th>Credits</th>
      <th>Instructor</th>
      <th>Seats Available</th>
      <th>Days</th>
      <th>Time</th>
      <th>Room</th>
      <th>Dates</th>
    </tr>
    <% @matches.each do |m| %>
      <% unless m[search_indices[:crn]].nil? %>
        <tr>
          <td>
            <%= highlight(m[search_indices[:crn]], @search_term.split(" ")) %>    
          </td>
          <td>
            <%= highlight(m[search_indices[:name]], @search_term.split(" ")) %>
          </td>
          <td>
            <%= highlight(m[search_indices[:section]], @search_term.split(" ")) %> 
          </td>
          <td>
            <%= render 'multiline_course_cell', field: m[search_indices[:title]] %>
          </td>
          <td>
            <%= highlight(m[search_indices[:credits]], @search_term.split(" ")) %>  
          </td>
          <td>
            <%= highlight(m[search_indices[:instructor]], @search_term.split(" ")) %>
          </td>
          <td>
            <%= highlight(m[search_indices[:seats]], @search_term.split(" ")) %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: m[search_indices[:days]] %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: m[search_indices[:time]] %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: m[search_indices[:room]] %>
          </td>
          <td>
            <%= render 'multiline_course_cell', field: m[search_indices[:dates]] %>
          </td>
        </tr>
      <% end %>
    <% end %>
</div>