<!--
  The navbar for this application.
	
	This is displayed on every page of the website and provides consistent navigation.
  
  Author: Hansen Cheng
          Branden Ogata
-->  

<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<%= link_to "Course Availability", :root, id: "logo" %>
				<div class="search">
					<%# search field %>
					<%= form_tag searches_path do %>
						<%= text_field_tag :search %>
				    <input name="authenticity_token" 
						    	 type="hidden" 
							     value="<%= form_authenticity_token %>"/>						
						<%= submit_tag "Search" %>
					<% end %>
				</div>
				<ul class="nav pull-right">
					<li><%=link_to "Home", :root %></li>
					<li><%=link_to "Course List", course_list_path %></li>
					<% if signed_in? %>
						<li><%= link_to "Profile", current_user %></li>
						<li><%= link_to "Settings", edit_user_path(current_user) %></li>
						<li><%= link_to "Sign out", :signout, method: 'delete' %></li>
					<% else %>
						<li><%=link_to "Sign in", :signin %></li>
					<% end %>
					<li><%=link_to "Help", help_path %></li>

				</ul>	
			</nav>
		</div>
	</div>
</header>
