<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<nav>
				<%= link_to "Course Availability", :root, id: "logo" %>
				<ul class="nav pull-right">
					<li><%=link_to "Home", :root %></li>
					<% if signed_in? %>
						<li><%= link_to "Profile", current_user %></li>
						<li><%= link_to "Settings", edit_user_path(current_user) %></li>
						<li><%= link_to "Sign out", :signout, method: 'delete' %></li>
					<% else %>
						<li><%=link_to "Sign in", :signin %></li>
					<% end %>
					<li><%=link_to "Help", 'help'%></li>
					<%# search field %>
					<%= form_tag course_pages_path do %>
						<%= text_field_tag :search %>
						<%= submit_tag "Search" %>
					<% end %>
				</ul>	
			</nav>
		</div>
	</div>
</header>
