<!DOCTYPE html>
<html>
<head>
	<title><%=yield(:title)%></title>
	<%= stylesheet_link_tag    "application", media: "all" %>
	<%= javascript_include_tag "application" %>
	
	<!--
	  Only load the JavaScript with the same name as the current controller;
		this really only applies to course_pages and trackings
	-->
	<%= javascript_include_tag controller_name %>
	<%= javascript_include_tag "assets/trackings" if controller_name == "users" %>
	<%= javascript_include_tag "assets/course_pages" if controller_name == "users" %>
	
  <script src="http://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.2.min.js"></script>	
	<%= csrf_meta_tags %>
	<%= render 'layouts/shim' %>
	<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
</head>
<body>
	<%= render 'layouts/header' %>
	<div class="container">
		<% flash.each do |key, value| %>
			<div class="alert alert-<%= key %>"><%= value %></div>
		<% end %>	
		<%= yield %>
	</div>
</body>
</html>
